html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.fighters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 0 15px;
}

.fighter {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.06);
    cursor: pointer;
}

.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
}

.fighter-image {
    height: 260px;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    visibility: hidden;
}

.modal {
    position: absolute;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 55px -12px #878787;
}

.content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal #close, .modal #confirm {
    text-decoration: none;
    color: white;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 2px;

}
.modal #close{
    background-color: crimson;
    top: 5px;
    right: 5px;
    position: absolute;
}

.modal #confirm {
    display: block;
    background-color: teal;
    margin: 0 auto;
    margin-bottom: 5px;
}

button {
    position: absolute;
    font-size: 3rem;
    border-radius: 10px;
}